.left-section{
  width:240px;
  padding-top: 10px;
  padding-left: 12px;
  position: fixed;
  left: 0;
  top:56px;
  bottom: 0;
  overflow: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 1px;
    
  }
}
.left-section:hover {
  &::-webkit-scrollbar {
    width: 8px;
    
    
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    
  }
  
}

.left-icons{
  width: 204px;
  display: flex;
  align-items: center;
  margin-right: 14px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  background: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
}
.left-icons:hover{
  background-color: #f2f0f0; 
}
.left-icons:focus{
  background-color: #f2f0f0; 
}
.left-icons:active{  background-color: #c5c4c4; 

}
.left-icons-word{
  font-family: roboto,arial;
  font-weight: 400;
  display: inline;
  font-size: 15px;
  margin-left: 25px;
  flex: 2;
  text-align: left;
}
.word-active{
  font-weight: 500;
}
.active{
  background-color: rgba(0,0,0,0.05); 
  font-weight: 500;
}
.active:hover{
  background-color: #e5e5e5;
}
.no-decoration{
  text-decoration: none;
  color: #000;
}
.yt-channel{
  color: #606060;
}
.view-time{
  color: #606060;
}
.line-div{
  width: 225px;
}
.line{
  border-top: 0px solid #ccc;
  margin-left: 12px;
  margin-top: 12px;
}

.you{
  margin-right: 14px;
  font-size: 15px;
  font-weight: 500;
  font-family: Roboto;
}
.arrow{
  width: 16px;
  height: 16px;
  
}
.you:hover{
  background-color: #f2f0f0; 
}
.you:focus{
  background-color: #f2f0f0;
}
.you:active{
  background-color: #c5c4c4; 
}


.subscriptions,.explore{
  font-family: roboto,arial;
  font-weight: bold;
  font-size: 16px;
  margin-left: 12px;
  margin-top: 19px;
  margin-bottom: 7px;
}


.logo{
  border-radius: 50%;
  width: 100%;
}


.report{
  width: 204px;
  margin-right: 14px;
  padding-top: 9px;
  padding-right: 40px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.report-word{
  font-family: roboto,arial;
  font-weight: 500;
  font-size: 15px;
  margin-left: 21px;
}
.report:hover{
  background-color: #f2f0f0; 
}
.report:focus{
  background-color: #f2f0f0;
}
.report:active{
  background-color: #c5c4c4; 
}

.help{
  width: 204px;
  margin-right: 14px;
  padding-top: 9px;
  padding-right: 110px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.help-word{
  font-family: roboto,arial;
  font-weight: 500;
  font-size: 15px;
  margin-left: 21px;
}
.help:hover{
  background-color: #f2f0f0; 
}
.help:focus{
  background-color: #f2f0f0;
}
.help:active{
  background-color: #c5c4c4; 
}

.send{
  width: 204px;
  margin-right: 14px;
  padding-top: 9px;
  padding-right: 40px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.send-word{
  font-family: roboto,arial;
  font-weight: 500;
  font-size: 15px;
  margin-left: 21px;
}
.send:hover{
  background-color: #f2f0f0; 
}
.send:focus{
  background-color: #f2f0f0;
}
.send:active{
  background-color: #c5c4c4; 
}

.about{
  width: 204px;
padding-left: 10px;
}
.about-word{
  font-family: roboto;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  cursor: pointer;
  color: rgb(87, 78, 78);
}

.terms{
  width: 204px;
padding-left: 10px;
margin-top: 10px;
}
.terms-word{
  font-family: roboto;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  cursor: pointer;
  color: rgb(87, 78, 78);
}

.google{
  width: 204px;
padding-left: 10px;
margin-top: 10px;
}
.google-word{
  font-family: roboto;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  color: rgb(135, 126, 126);
}

.left-altr{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 50px;
  width: 75px !important;
  display: none !important;
  flex-direction: column;
  row-gap: 27px !important;
  padding-top: 15px;
}
.icons-lft svg{
  height: 22px !important;
  width: 22px !important;
}
.icons-lft span{
  font-size: 10px;
}

@media (max-width:769px) {
  .main-body{
    padding-left:85px;
  }
  .left-altr{
    display: flex !important;
  }  
  .left-section{
    display: none;
  }
}
@media (max-width:661px){
  .container-fluid{
    padding: 0;
    margin: 0;
  }
  .main-body{
    padding: 0 !important;
  }
  .left-section{
    display: none !important;
    padding: 0;
  }
  .left-altr{
    display: none !important;
  }

}