.left-section{
  height: 100%;
  width:240px;
  padding-top: 10px;
  padding-left: 12px;
  position: fixed;
  left: 0;
  top:56px;
  bottom: 0;
  overflow: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
    
  }
}
.left-section:hover {
  &::-webkit-scrollbar {
    width: 8px;
    
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    border-radius: 4px;
    
  }
}
@media (hover: none) {
  .left-section::-webkit-scrollbar {
    width: 8px;
  }

  .left-section::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0,0.2);
    border-radius: 4px; 
  }
}
.left-icons{
  width: 204px;
  display: flex;
  align-items: center;
  margin-right: 14px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  background: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.left-icons:hover{
  background-color: #f2f0f0; 
}
.left-icons:focus{
  background-color: #f2f0f0; 
}
.left-icons:active{
  background-color: #c5c4c4; 
}
.left-icons-word{
  font-family: roboto,arial;
  font-weight: 400;
  display: inline;
  font-size: 15px;
  margin-left: 25px;
  flex: 2;
  text-align: left;
}
.word-active{
  font-weight: 500;
}
.active{
  background-color: rgba(0,0,0,0.05); 
  font-weight: 500;
}
.active:hover{
  background-color: #c5c4c4;
}

.line-div{
  width: 225px;
}
.line{
  border-top: 0px solid #ccc;
  margin-left: 12px;
  margin-top: 12px;
}

.you{
  margin-right: 14px;
  font-size: 15px;
  font-weight: 500;
  font-family: Roboto;
}
.arrow{
  width: 16px;
  height: 16px;
  
}
.you:hover{
  background-color: #f2f0f0; 
}
.you:focus{
  background-color: #f2f0f0;
}
.you:active{
  background-color: #c5c4c4; 
}

.your-channel{
  width: 204px;
  margin-right: 14px;
  padding-top: 9px;
  padding-right: 52px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.channel-word{
  font-family: roboto,arial;
  font-weight: 500;
  font-size: 15px;
  margin-left: 21px;
}
.your-channel:hover{
  background-color: #f2f0f0; 
}
.your-channel:focus{
  background-color: #f2f0f0;
}
.your-channel:active{
  background-color: #c5c4c4; 
}

.history-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.history{
  width: 204px;
  margin-right: 14px;
  padding-top: 9px;
  padding-right:92px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.history-word{
  font-family: roboto,arial;
  font-weight: 500;
  font-size: 15px;
  margin-left: 22px;
}
.history:hover{
  background-color: #f2f0f0; 
}
.history:focus{
  background-color: #f2f0f0;
}
.history:active{
  background-color: #c5c4c4; 
}

.your-videos{
  width: 204px;
  margin-right: 14px;
  padding-top: 9px;
  padding-right: 61px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.your-videos-word{
  font-family: roboto,arial;
  font-weight: 500;
  font-size: 15px;
  margin-left: 19px;
}
.your-videos:hover{
  background-color: #f2f0f0; 
}
.your-videos:focus{
  background-color: #f2f0f0;
}
.your-videos:active{
  background-color: #c5c4c4; 
}


.watch-later{
  width: 204px;
  margin-right: 14px;
  padding-top: 9px;
  padding-left: 10px;
  padding-right: 62px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.watch-later-word{
  font-family: roboto,arial;
  font-weight: 500;
  font-size: 15px;
  margin-left: 21px;
}
.watch-later:hover{
  background-color: #f2f0f0; 
}
.watch-later:focus{
  background-color: #f2f0f0;
}
.watch-later:active{
  background-color: #c5c4c4; 
}


.liked-videos{
  width: 204px;
  margin-right: 14px;
  padding-top: 9px;
  padding-right: 52px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.liked-videos-word{
  font-family: roboto,arial;
  font-weight: 500;
  font-size: 15px;
  margin-left: 21px;
}
.liked-videos:hover{
  background-color: #f2f0f0; 
}
.liked-videos:focus{
  background-color: #f2f0f0;
}
.liked-videos:active{
  background-color: #c5c4c4; 
}

.subscriptions,.explore{
  font-family: roboto,arial;
  font-weight: bold;
  font-size: 16px;
  margin-left: 12px;
  margin-top: 19px;
  margin-bottom: 7px;
}


.channels{
  width: 204px;
  padding-bottom: 4px;
  padding-top: 7px;
  background: none;
  border: none;
  border-radius: 13px;
  transition: background-color 0.5s;
  display: flex;
  align-items: center;
}
.channel-logo-div{
  width: 25px;
  padding-left: 4px;
}
.logo{
  border-radius: 50%;
  width: 100%;
}
.channels:hover{
  background-color: #f2f0f0; 
}
.channels:focus{
  background-color: #f2f0f0;
}
.channels:active{
  background-color: #c5c4c4; 
}
.channel-name{
  font-family: roboto,arial;
  font-weight: 500;
  font-size: 15px;
  margin-left: 25px;
  text-wrap: nowrap;
}
.show-more{
  width: 204px;
  margin-right: 14px;
  padding-top: 9px;
  padding-right: 52px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.show-more-word{
  font-family: roboto,arial;
  font-weight: 500;
  font-size: 15px;
  margin-left: 21px;
}
.show-more:hover{
  background-color: #f2f0f0; 
}
.show-more:focus{
  background-color: #f2f0f0;
}
.show-more:active{
  background-color: #c5c4c4; 
}

.trending{
  width: 204px;
  margin-right: 14px;
  padding-top: 9px;
  padding-right: 70px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.trending-word{
  font-family: roboto,arial;
  font-weight: 500;
  font-size: 15px;
  margin-left: 21px;
}
.trending:hover{
  background-color: #f2f0f0; 
}
.trending:focus{
  background-color: #f2f0f0;
}
.trending:active{
  background-color: #c5c4c4; 
}

.shopping{
  width: 204px;
  margin-right: 14px;
  padding-top: 9px;
  padding-right: 60px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.shopping-word{
  font-family: roboto,arial;
  font-weight: 500;
  font-size: 15px;
  margin-left: 21px;
}
.shopping:hover{
  background-color: #f2f0f0; 
}
.shopping:focus{
  background-color: #f2f0f0;
}
.shopping:active{
  background-color: #c5c4c4; 
}

.music{
  width: 204px;
  margin-right: 14px;
  padding-top: 9px;
  padding-right: 85px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.music-word{
  font-family: roboto,arial;
  font-weight: 500;
  font-size: 15px;
  margin-left: 21px;
}
.music:hover{
  background-color: #f2f0f0; 
}
.music:focus{
  background-color: #f2f0f0;
}
.music:active{
  background-color: #c5c4c4; 
}

.report{
  width: 204px;
  margin-right: 14px;
  padding-top: 9px;
  padding-right: 40px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.report-word{
  font-family: roboto,arial;
  font-weight: 500;
  font-size: 15px;
  margin-left: 21px;
}
.report:hover{
  background-color: #f2f0f0; 
}
.report:focus{
  background-color: #f2f0f0;
}
.report:active{
  background-color: #c5c4c4; 
}

.help{
  width: 204px;
  margin-right: 14px;
  padding-top: 9px;
  padding-right: 110px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.help-word{
  font-family: roboto,arial;
  font-weight: 500;
  font-size: 15px;
  margin-left: 21px;
}
.help:hover{
  background-color: #f2f0f0; 
}
.help:focus{
  background-color: #f2f0f0;
}
.help:active{
  background-color: #c5c4c4; 
}

.send{
  width: 204px;
  margin-right: 14px;
  padding-top: 9px;
  padding-right: 40px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.send-word{
  font-family: roboto,arial;
  font-weight: 500;
  font-size: 15px;
  margin-left: 21px;
}
.send:hover{
  background-color: #f2f0f0; 
}
.send:focus{
  background-color: #f2f0f0;
}
.send:active{
  background-color: #c5c4c4; 
}

.about{
  width: 204px;
padding-left: 10px;
}
.about-word{
  font-family: roboto;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  cursor: pointer;
  color: rgb(87, 78, 78);
}

.terms{
  width: 204px;
padding-left: 10px;
margin-top: 10px;
}
.terms-word{
  font-family: roboto;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  cursor: pointer;
  color: rgb(87, 78, 78);
}

.google{
  width: 204px;
padding-left: 10px;
margin-top: 10px;
}
.google-word{
  font-family: roboto;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  color: rgb(135, 126, 126);
}
