.right-section{
  flex: 1;
  padding-right: 24px;
}

.right-top-div
{
  height: 56px;
  width: 100%;
  display: flex;
}

.right-top
{
  height: 56px;
  width:100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
  position: fixed;
  background-color: #fff;
 
}

.all{
  padding: 8px 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: roboto;
  font-weight: 700;
  margin-right: 12px;
  cursor: pointer;
}

.allbutton{
  padding: 8px 12px;
  background-color: #f4f4f4;
  color: black;
  border: none;
  border-radius: 8px;
  font-family: roboto,arial;
  font-weight: 700;
  margin-right: 12px;
  cursor: pointer;
}
.allbutton:hover{
  background-color: #e9e9e9;
}
.allbutton:active{
  background-color: #dad7d7;
}

.moving-button-div{
  width: 10px;
  height: 56px;
  
}

/*right bottom*/

.right-bottom{
  width: 100%;
  height: 100%;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 17px;
  row-gap: 13px;
}

/*first video*/

.thumbnail{
  border-radius: 12px;
  width: 100%;
}
.video-info-div{
  display: flex;
}
.channel-profile-div{
  width: 50px;
  margin-top: 9px;
  margin-right: 12px;
}
.channel-profile{
  width: 36px;
  border-radius: 50%;
}

.video-info{
  flex: 1;
}
.title{
  margin-top: 10px;
}
.video-title{
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  line-height: 19px;
}
.channel-name-info{
margin-top: 12px;
line-height: 20px;
color: #656565;
font-size: 15px;
}
.view-time{
  display: block;
}